@model IEnumerable<RestaurantWebApp.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimePlaced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderMenuItem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreTaxTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TimePlaced)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ServerName)
    </td>
    <td>
        @foreach (var menuItem in item.OrderMenuItem)
        {
            <ul>
                <li>
                    @menuItem.Amount
                    @menuItem.MenuItem.Name
                </li>
            </ul>
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SubTotal)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DiscountAmount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PreTaxTotal)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TaxAmount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Total)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
